<ion-header>
  <ion-toolbar>
    <ion-title>alumno.nombre</ion-title>
  </ion-icon nombre= "basura"> </ion-icon>
  </ion-toolbar>

<ion-content>
  < rejilla de iones >
  < fila de iones >
      < ion-col >
          < ion-texto >
              Edad
          </ ion-texto >
      </ ion-col >
      < ion-col >
          < ion-texto >
              Matrícula
          </ ion-texto >
      </ ion-col >
      < ion-col >
          < ion-texto >
              correo
          </ ion-texto >
      </ ion-col >
  </ fila de iones >
  < fila de iones >
      < ion-col >
          < ion-texto >
              {{alumno.edad}}
          </ ion-texto >
      </ ion-col >
      < ion-col >
          < ion-texto >
              {{alumno.matricula}}
          </ ion-texto >
      </ ion-col >
      < ion-col >
          < ion-texto >
              {{alumno.correo}}
          </ ion-texto >
      </ ion-col >
  </ fila de iones >
</ rejilla de iones >
</ contenido de iones >
</ion-content>
